global
    log /dev/log local0

defaults
    log global
    mode tcp
    timeout connect 10s
    timeout client 1m
    timeout server 1m

frontend postgres_front
    bind *:5432
    default_backend postgres_back

backend postgres_back
    option httpchk GET /primary
    http-check expect status 200

    server pg1 192.168.8.19:5432 check port 8008
