name: {{ inventory_hostname }}

data-dir: {{ etcd_data_dir }}

listen-peer-urls: http://0.0.0.0:{{ etcd_peer_port }}

listen-client-urls: http://0.0.0.0:{{ etcd_client_port }}

initial-advertise-peer-urls: http://{{ inventory_hostname }}:{{ etcd_peer_port }}

advertise-client-urls: http://{{ inventory_hostname }}:{{ etcd_client_port }}

initial-cluster: {{ etcd_master }}=http://{{ etcd_master }}:{{ etcd_peer_port }}

initial-cluster-token: etcd-cluster

initial-cluster-state: new

enable-v2: true
