global
    log /dev/log local0
    log /dev/log local1 notice

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 10s
    timeout client 1m
    timeout server 1m

frontend postgres_front
    bind *:{{ percona_postgresql_haproxy_port }}
    default_backend postgres_back

backend postgres_back
    option httpchk GET /primary
    http-check expect status 200

{% for host in groups['postgres'] %}
    server pg{{ loop.index }} {{ host }}:{{ percona_postgresql_pg_port }} check port {{ percona_postgresql_patroni_rest_port }}
{% endfor %}

{% if percona_postgresql_haproxy_stats_enable %}

listen stats
    bind *:{{ percona_postgresql_haproxy_stats_port }}
    mode http

    stats enable
    stats hide-version
    stats refresh 10s
    stats show-node

    stats uri {{ percona_postgresql_haproxy_stats_uri }}

    stats realm HAProxy\ Statistics

    stats auth {{ percona_postgresql_haproxy_stats_user }}:{{ percona_postgresql_haproxy_stats_password }}

{% endif %}
