global
    log /dev/log local0

defaults
    log global
    mode tcp
    timeout connect 10s
    timeout client 1m
    timeout server 1m

frontend postgres_front
    bind *:{{ percona_postgresql_haproxy_port }}
    default_backend postgres_back

backend postgres_back
    option httpchk GET /primary
    http-check expect status 200

{% for host in groups['postgres'] %}
    server pg{{ loop.index }} {{ hostvars[host]['inventory_hostname'] }}:{{ percona_postgresql_pg_port }} check port {{ percona_postgresql_patroni_rest_port }}
{% endfor %}

{% if percona_postgresql_haproxy_stats_enable %}

listen stats
    bind *:{{ percona_postgresql_haproxy_stats_port }}
    mode http
    stats enable
    stats uri {{ percona_postgresql_haproxy_stats_uri }}
    stats refresh 10s
    stats show-node
    stats auth {{ percona_postgresql_haproxy_stats_user }}:{{ percona_postgresql_haproxy_stats_password }}

{% endif %}