[Unit]
Description=PostgreSQL Exporter
After=network.target

[Service]
Type=simple

User={{ percona_postgresql_exporter_user }}
Group={{ percona_postgresql_exporter_group }}

EnvironmentFile={{ percona_postgresql_exporter_config_dir }}/postgres_exporter.env

ExecStart={{ percona_postgresql_exporter_binary }} \
{% for collector in percona_postgresql_exporter_collectors %}
  {{ collector }} \
{% endfor %}

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
