{
  "WALG_S3_PREFIX": "s3://{{ percona_postgresql_minio_bucket }}",
  "AWS_ACCESS_KEY_ID": "{{ percona_postgresql_minio_access_key }}",
  "AWS_SECRET_ACCESS_KEY": "{{ percona_postgresql_minio_secret_key }}",
  "AWS_ENDPOINT": "{{ percona_postgresql_minio_endpoint }}",
  "AWS_S3_FORCE_PATH_STYLE": true,
  "PGDATA": "{{ percona_postgresql_data_dir }}"
}